<div class="browse-container">
  <div class="billboard">
    <div class="billboard-image-container">
      <img
        src="https://occ-0-2464-3646.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABVIx9ypsqrTsHStfPEYoUudXEBuD-SO2mtuEcXJVWJRty5GfrJnYY-mB3VC0CSol2vJz0zjKnIvM-a9f1JCp4ud5OtQu.webp?r=a67"
        alt="billboard-img"
        class="billboard-img"
      />

      <div class="billboard-hero">
        <img
          class="billboard-title"
          alt="billboard-title"
          src="https://occ-0-2464-3646.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABXhd70yKxawOeoAoIubNddv4WW_--wUP3ebypKJ0UmbpW7LJEbvT8MzT2rrXVjWYC13SCZ2Ng003lPUS5pDedZjEe5IYWB6mKSDg.webp?r=870"
        />
        <div class="synopsis">
          This comedy chronicles the glorious efforts of General Aladeen,
          dictator of the Republic of Wadiya, to oppress his people and fight
          democracy.
        </div>
        <div class="actions">
          <button class="btn-primary"><i class="fas fa-play"></i>Play</button>
          <button class="btn-secondary">
            <i class="far fa-info-circle"></i>More Info
          </button>
        </div>
      </div>

      <div class="rating-container">
        <div class="rating">18+</div>
      </div>
    </div>
  </div>

  <div class="listings">
    <section class="first">
      <div class="title">Comedies <i class="fas fa-chevron-right"></i></div>
      <ul>
        <li>
          <img
            src="https://occ-0-2464-3646.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABZbIYLXJrNf8boELzJgd8FlFUr3Kv9WEzWSWKHu0L9ZZ4w6J2bTLKUV9Yl4Q5VJdDv0acy5WPdJbAUYGA8iNfoYanBvsuODiVcNkh0f9k2AIckoh_JATFnoIy5FgGeQY7BRW4r8MB97pnz-aY8OT6_fSMPw.webp?r=029"
            alt="slide"
          />
        </li>
        <li>
          <img
            src="https://occ-0-2464-3646.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABU1AStmezj9_0-jXpRpKnHEXL7bY26BvFbnDxDtDXJX9k9qq0ws3NR7WJGN5QVUe4YjjwlC9pMzy2B04s-hxpKvYZeo.webp?r=bd1"
            alt="slide"
          />
        </li>
        <li>
          <img
            src="https://occ-0-2464-3646.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABZI2P5DhHgR0x1KxlRNHtdAfvjDxRthRvlKkz1qNy6BTAKh9sseJqPHUtUkWU04pnf2r-QiwTHXBLdD5fDD9KxbrXqI.webp?r=f86"
            alt="slide"
          />
        </li>
        <li>
          <img
            src="https://occ-0-2464-3646.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABRNukhzHD1bTgE224TpxYjP_7eRvae9myxIorMM63cVaZ801dAN9s59-Ri0ydWQyNoPV2W7G5V8VSoM-sEXN3JstcwI.webp?r=a9a"
            alt="slide"
          />
        </li>
        <li>
          <img
            src="https://occ-0-2464-3646.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABewx_Tep-erbHEXxlY6685AZJF0uvsb8nCGXU-e-X-nqtL-skg9PoTTMOukDNbu9fpzE0XDP12XFP-ugCax3hvzrkdc.webp?r=de8"
            alt="slide"
          />
        </li>
        <li>
          <img
            src="https://occ-0-2464-3646.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABUFpVtJgz4JRoBsX4Ov6finqTA2xmdy0yUxLlgSX69oQ1j7crnAtqDIw6-7BO5osrp1NxiYUE3yX8qjU8WlhWLs7cMxLNTAauea7hUMK1kO6yEGc7tu_AkrD9NhzK0hp6Tb-EUj-fdKFAt_d24GPBm22sg2AH_gh8Gj1R_cuDUojf0S6ih9pxsg.jpg?r=907"
            alt="slide"
          />
        </li>
        <li>
          <img
            src="https://occ-0-2464-3646.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABZbIYLXJrNf8boELzJgd8FlFUr3Kv9WEzWSWKHu0L9ZZ4w6J2bTLKUV9Yl4Q5VJdDv0acy5WPdJbAUYGA8iNfoYanBvsuODiVcNkh0f9k2AIckoh_JATFnoIy5FgGeQY7BRW4r8MB97pnz-aY8OT6_fSMPw.webp?r=029"
            alt="slide"
          />
        </li>
        <li>
          <img
            src="https://occ-0-2464-3646.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABU1AStmezj9_0-jXpRpKnHEXL7bY26BvFbnDxDtDXJX9k9qq0ws3NR7WJGN5QVUe4YjjwlC9pMzy2B04s-hxpKvYZeo.webp?r=bd1"
            alt="slide"
          />
        </li>
        <li>
          <img
            src="https://occ-0-2464-3646.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABZI2P5DhHgR0x1KxlRNHtdAfvjDxRthRvlKkz1qNy6BTAKh9sseJqPHUtUkWU04pnf2r-QiwTHXBLdD5fDD9KxbrXqI.webp?r=f86"
            alt="slide"
          />
        </li>
        <li>
          <img
            src="https://occ-0-2464-3646.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABRNukhzHD1bTgE224TpxYjP_7eRvae9myxIorMM63cVaZ801dAN9s59-Ri0ydWQyNoPV2W7G5V8VSoM-sEXN3JstcwI.webp?r=a9a"
            alt="slide"
          />
        </li>
        <li>
          <img
            src="https://occ-0-2464-3646.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABewx_Tep-erbHEXxlY6685AZJF0uvsb8nCGXU-e-X-nqtL-skg9PoTTMOukDNbu9fpzE0XDP12XFP-ugCax3hvzrkdc.webp?r=de8"
            alt="slide"
          />
        </li>
        <li>
          <img
            src="https://occ-0-2464-3646.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABUFpVtJgz4JRoBsX4Ov6finqTA2xmdy0yUxLlgSX69oQ1j7crnAtqDIw6-7BO5osrp1NxiYUE3yX8qjU8WlhWLs7cMxLNTAauea7hUMK1kO6yEGc7tu_AkrD9NhzK0hp6Tb-EUj-fdKFAt_d24GPBm22sg2AH_gh8Gj1R_cuDUojf0S6ih9pxsg.jpg?r=907"
            alt="slide"
          />
        </li>
      </ul>
    </section>

    <section>
      <div class="title">
        Continue Watching <i class="fas fa-chevron-right"></i>
      </div>
      <ul>
        <li>
          <img
            src="https://occ-0-2464-3646.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABcAroYLV3kILekSmXtTJVg5Tspy05Wbb-QR_lCA2ICI5z6JjMvbPJYMrmp18rG_VQQNSH8vT5k_Pe0fXDTC6hUDdh4E.webp?r=b0e"
            alt="slide"
          />
        </li>
      </ul>
    </section>
  </div>

  <footer>
    <div class="socials">
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-youtube"></i>
    </div>

    <ul class="footer-links">
      <li>Audio and Subtitles</li>
      <li>Audio Description</li>
      <li>Help Center</li>
      <li>Gift Card</li>
      <li>Media Center</li>
      <li>Investor Relations</li>
      <li>Jobs</li>
      <li>Terms of Use</li>
      <li>Privacy</li>
      <li>Legal Notices</li>
      <li>Cookie Preferences</li>
      <li>Corporate Information</li>
      <li>Contact Us</li>
    </ul>

    <div class="service-links">
      <a href="#" class="service-code">Service Code</a>
    </div>

    <div class="copyright">
      © 1997-2021 Netflix, Inc.
    </div>
  </footer>
</div>
