header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .wrapper {
    position: relative;
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(to bottom, black, #141414);
      z-index: -1;
      opacity: 0;
      transition: opacity 0.4s ease-in;
    }

    &.header-not-top {
      &::before {
        opacity: 1;
      }
    }

    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 4%;
    height: 68px;

    img.logo {
      width: 90px;
      margin-right: 3em;
    }

    nav {
      ul {
        display: flex;
        gap: 1.25em;

        li {
          cursor: pointer;
        }
      }
    }

    .user-actions {
      margin-left: auto;
      display: flex;
      align-items: center;

      .user-action {
        padding: 0 1rem;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      > * {
        cursor: pointer;
      }

      .size-l {
        font-size: 1.25rem;
      }

      .notifications-container {
        position: relative;
        .action-target {
          width: 400px;
          font-size: 1rem;

          .action-target-wrapper {
            &::before {
              right: 16px;
            }

            .notifications-list-container {
              max-height: 345px;
              overflow: hidden;
              border-radius: 4px;

              .notifications-list {
                max-height: 345px;
                overflow: auto;

                .notification-one {
                  padding: 0.7rem;
                  display: flex;
                  gap: 0.7rem;

                  img {
                    border-radius: 4px;
                  }

                  .notification-meta {
                    display: flex;
                    flex-direction: column;
                    color: rgba(255, 255, 255, 0.75);

                    .notification-title {
                      font-size: 0.9rem;
                    }

                    .notification-date {
                      margin-top: auto;
                      font-size: 0.75rem;
                      font-family: "Netflix Sans Light";
                    }
                  }

                  &:hover {
                    background-color: black;
                    .notification-meta {
                      color: white;
                    }
                  }
                }

                .notification-one:first-child {
                  border-top-left-radius: 4px;
                  border-top-right-radius: 4px;
                }

                .notification-one:last-child {
                  border-bottom-left-radius: 4px;
                  border-bottom-right-radius: 4px;
                }

                .notification-one + .notification-one {
                  border-top: 1px solid rgba(255, 255, 255, 0.2);
                }
              }
            }
          }
        }

        &:hover {
          .action-target {
            display: block;
          }
        }
      }

      .user-icon-container {
        position: relative;
        margin-left: 1rem;

        .user-avatar {
          width: 35px;
          height: 35px;
          border-radius: 4px;
        }

        .action-trigger {
          display: flex;
          align-items: center;

          .active-user-avatar {
            margin-right: 0.75em;
          }

          i {
            transition: all 0.3s ease;
          }
        }

        &:hover {
          .action-trigger {
            i {
              transform: rotate(180deg);
            }
          }
          .action-target {
            display: block;
          }
        }

        .action-target .action-target-wrapper {
          width: 200px;

          &::before {
            right: 28px;
          }

          a:hover {
            text-decoration: underline;
          }

          section {
            padding: 0.7rem;
          }

          .user-list {
            li {
              a {
                display: flex;
                align-items: center;
                gap: 0.7rem;
              }
            }

            li + li {
              margin-top: 0.7rem;
            }
          }

          .manage-profiles {
            padding: 0.7rem 0;
            display: block;
          }

          section.available-users {
            padding-bottom: 0;
          }

          section.nf-user-common-actions {
            border-top: 1px solid rgba(255, 255, 255, 0.2);

            li + li {
              margin-top: 0.5rem;
            }

            a {
              display: block;
              font-size: 0.8rem;
              font-family: "Netflix Sans Bold";
            }
          }
        }
      }

      .action-target {
        position: absolute;
        top: 35px;
        padding-top: 16px;
        right: 0;
        display: none;

        .action-target-wrapper {
          position: relative;
          background-color: rgba(0, 0, 0, 0.9);
          border: 1px solid rgba(255, 255, 255, 0.2);
          border-radius: 4px;
          &::before {
            content: "";
            position: absolute;
            top: -15px;
            right: 0;
            border: 7px solid rgba(255, 255, 255, 1);
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
          }
        }
      }
    }
  }
}
