<header>
  <img class="logo" src="assets/logo/logo.svg" />

  <nav class="left">
    <ul>
      <li>Home</li>
      <li>TV Shows</li>
      <li>Movies</li>
      <li>New & Popular</li>
      <li>My List</li>
    </ul>
  </nav>

  <div class="user-actions">
    <div class="search-container size-l">
      <i class="fas fa-search"></i>
    </div>
    <div class="notifications-container size-l">
      <i class="fas fa-bell"></i>
    </div>
    <div class="user-icon-container">
      <img
        src="https://i.picsum.photos/id/758/200/200.jpg?hmac=uNGrAzLKg8Jmc7G9XT1alpHw2bbW64ysv9Sh3PnjCPA"
        alt="user-avatar"
      />
      <i class="fas fa-sort-down"></i>
    </div>
  </div>
</header>
