<header>
  <div class="wrapper" [class.header-not-top]="!onTop">
    <img class="logo" src="assets/logo/logo.svg" />

    <nav class="left">
      <ul>
        <li>Home</li>
        <li>TV Shows</li>
        <li>Movies</li>
        <li>New & Popular</li>
        <li>My List</li>
      </ul>
    </nav>

    <div class="user-actions">
      <div class="search-container size-l">
        <i class="fas fa-search"></i>
      </div>
      <div class="notifications-container size-l">
        <i class="fas fa-bell"></i>
      </div>
      <div class="user-icon-container">
        <div class="action-trigger">
          <img
            class="user-avatar active-user-avatar"
            src="https://i.picsum.photos/id/193/200/200.jpg?hmac=JHo5tWHSRWvVbL3HX6rwDNdkvYPFojLtXkEGEUCgz6A"
            alt="user-avatar"
          />
          <i class="fas fa-sort-down"></i>
        </div>
        <div class="action-target">
          <div class="action-target-wrapper">
            <section class="available-users">
              <ul class="user-list">
                <li>
                  <a href="#">
                    <img
                      class="user-avatar"
                      src="https://i.picsum.photos/id/860/200/200.jpg?hmac=xEnSgZhxWVFOWiVCBQzYpKUH7S5nFb7-QTZ8Hfqwq4M"
                      alt="user-avatar"
                    />
                    <div class="user-name">Phoenix</div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img
                      class="user-avatar"
                      src="https://i.picsum.photos/id/135/200/200.jpg?hmac=uaxfwtA3aJhzzHN36hg2MJi5Rl8nbuqAsipKDDj2seU"
                      alt="user-avatar"
                    />
                    <div class="user-name">Sage</div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img
                      class="user-avatar"
                      src="https://i.picsum.photos/id/354/200/200.jpg?hmac=ykMwenrB5tcaT_UHlYwh2ZzAZ4Km48YOmwJTFCiodJ4"
                      alt="user-avatar"
                    />
                    <div class="user-name">Killjoy</div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img
                      class="user-avatar"
                      src="https://i.picsum.photos/id/1009/200/200.jpg?hmac=2D10SFaYliFjzL4jp_ZjLmZ1_2jaJw89CntiJGjdlGE"
                      alt="user-avatar"
                    />
                    <div class="user-name">Reyna</div>
                  </a>
                </li>
              </ul>

              <a class="manage-profiles" href="#">Manage Profiles</a>
            </section>
            <section class="nf-user-common-actions">
              <ul>
                <li><a href="#">Account</a></li>
                <li><a href="#">Help Centre</a></li>
                <li><a href="#">Sign out of Netflix</a></li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
