/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: normal;
  background-color: #141414;
  color: white;
  font-family: "Netflix Sans Regular";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  max-width: 100%;
}
